body {
    text-align: center;
}

h1 {
    font-family: Impact;
    font-size: 5em; 
    color: red;
}

#hall_of_fame {
    padding-top: 3em;
    padding-bottom: 5em;
}

#hall_of_fame h2 {
    font-size: 2em;
}

#hall_of_fame table {
    margin-left: auto;
    margin-right: auto;
}

#hall_of_fame th {
    padding: 1em;
}

a {
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 2em; 
}