#application {
    display: flex;
    height:10vh;
}

#cheat {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

#cheat p {
    padding-left: 10px;
}

#map {
    height: 90vh;
}

li{
    display:inline;
}

img{
    height:50px;
    width:50px;
}